{ns hl7-fhir-r4b-core.search.Citation-context-type,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "Citation-context-type",
         :fhir/url "http://hl7.org/fhir/SearchParameter/Citation-context-type",
         :fhir/type "token",
         :name "context-type",
         :expr {:Citation {:knife [["useContext" "code"]],
                           :jsonpath ["$.\"useContext\".\"code\"[*]"],
                           :data-types #{},
                           :template :token}}}}
