{ns hl7-fhir-r4b-core.search.ClinicalUseDefinition-indication,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "ClinicalUseDefinition-indication",
         :fhir/url "http://hl7.org/fhir/SearchParameter/ClinicalUseDefinition-indication",
         :fhir/type "token",
         :name "indication",
         :expr {:ClinicalUseDefinition {:knife [["indication"
                                                 "diseaseSymptomProcedure"]],
                                        :jsonpath ["$.\"indication\".\"diseaseSymptomProcedure\"[*]"],
                                        :data-types #{{:type "CodeableReference",
                                                       :polymorphic? false}},
                                        :template :token}}}}
