{ns hl7-fhir-r4b-core.search.Ingredient-manufacturer,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "Ingredient-manufacturer",
         :fhir/url "http://hl7.org/fhir/SearchParameter/Ingredient-manufacturer",
         :fhir/type "reference",
         :name "manufacturer",
         :expr {:Ingredient {:knife [["manufacturer"]],
                             :jsonpath ["$.\"manufacturer\"[*]"],
                             :data-types #{{:type "BackboneElement",
                                            :polymorphic? false}},
                             :template :reference}}}}
