{ns hl7-fhir-r4b-core.search.SubscriptionTopic-identifier,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "SubscriptionTopic-identifier",
         :fhir/url "http://hl7.org/fhir/SearchParameter/SubscriptionTopic-identifier",
         :fhir/type "token",
         :name "identifier",
         :expr {:SubscriptionTopic {:knife [["identifier"]],
                                    :jsonpath ["$.\"identifier\"[*]"],
                                    :data-types #{{:type "Identifier",
                                                   :polymorphic? false}},
                                    :template :token}}}}
