{ns hl7-fhir-r4b-core.search.SubscriptionTopic-resource,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "SubscriptionTopic-resource",
         :fhir/url "http://hl7.org/fhir/SearchParameter/SubscriptionTopic-resource",
         :fhir/type "uri",
         :name "resource",
         :expr {:SubscriptionTopic {:knife [["resourceTrigger"
                                             "resource"]],
                                    :jsonpath ["$.\"resourceTrigger\".\"resource\"[*]"],
                                    :data-types #{{:type "uri",
                                                   :polymorphic? false}},
                                    :template :uri}}}}
