{ns hl7-fhir-r4b-core.value-set.action-code,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Provides examples of actions to be performed.",
            :zen.fhir/version "0.6.25-1",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/action-code",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/action-code",
            :version "4.3.0",
            :ftr {:module "hl7-fhir-r4b-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
