{ns hl7-fhir-r4b-core.value-set.cited-artifact-status-type,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Cited Artifact Status Type",
            :zen.fhir/version "0.6.29",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/cited-artifact-status-type",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/cited-artifact-status-type",
            :version "4.3.0",
            :ftr {:module "hl7-fhir-r4b-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
