{ns hl7-fhir-r4b-core.value-set.fhir-element-types,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Allowed types for FHIR elements",
            :zen.fhir/version "0.6.29",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/CodeSystem/fhirpath-types",
                                  :zen.fhir/content :bundled}
                                 {:fhir/url "http://hl7.org/fhir/resource-types",
                                  :zen.fhir/content :bundled}
                                 {:fhir/url "http://hl7.org/fhir/data-types",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/fhir-element-types",
            :version "4.3.0",
            :ftr {:module "hl7-fhir-r4b-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
