{ns hl7-fhir-r4b-core.value-set.inactive,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "HL7 v3 ActMood Predicate codes, including inactive codes",
            :zen.fhir/version "0.6.23",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-ActMood",
                                  :zen.fhir/content :not-present}},
            :uri "http://hl7.org/fhir/ValueSet/inactive",
            :version "4.3.0",
            :ftr {:module "hl7-fhir-r4b-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
