{ns hl7-fhir-r4b-core.value-set.measure-supplemental-data-example,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Supplemental data in a population for measuring purposes.",
            :zen.fhir/version "0.6.30-10",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/measure-supplemental-data-example",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/measure-supplemental-data-example",
            :version "4.3.0",
            :ftr {:module "hl7-fhir-r4b-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
