{ns hl7-fhir-r4b-core.value-set.nutrition-product-category,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This value set represents codes for types of edible substances and is provided as a suggestive example.  It include codes from [SNOMED CT](http://snomed.info/sct) where concept has a parent of 327997002 Foods for special diets (product) or has a parent of 229963004 Cultural food types (substance).",
            :zen.fhir/version "0.6.29",
            :fhir/code-systems #{{:fhir/url "http://snomed.info/sct",
                                  :zen.fhir/content :not-present}},
            :uri "http://hl7.org/fhir/ValueSet/nutrition-product-category",
            :version "4.3.0"}}
