{ns hl7-fhir-r4b-core.value-set.substance-category,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Substance category codes",
            :zen.fhir/version "0.6.29-22",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/substance-category",
                                  :zen.fhir/content :not-present}},
            :uri "http://hl7.org/fhir/ValueSet/substance-category",
            :version "4.3.0"}}
