{ns hl7-fhir-r4b-core.Age,
 import #{zen.fhir
          hl7-fhir-r4b-core.value-set.age-units
          hl7-fhir-r4b-core.Quantity},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Base StructureDefinition for Age Type: A duration of time during which an organism (or a process) has existed.",
         :zen.fhir/type "Age",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/Age",
         :zen.fhir/version "0.6.30-10",
         :confirms #{hl7-fhir-r4b-core.Quantity/schema},
         :zen.fhir/value-set {:symbol hl7-fhir-r4b-core.value-set.age-units/value-set,
                              :strength :extensible}}}
