{ns hl7-fhir-r4b-core.capabilitystatement-expectation,
 import #{zen.fhir hl7-fhir-r4b-core.code},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Defines the level of expectation associated with a given system capability.",
         :zen.fhir/type "code",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation",
         :zen.fhir/version "0.6.25-1",
         :confirms #{hl7-fhir-r4b-core.code/schema}}}
