{ns hl7-fhir-r4b-core.codesystem-alternate,
 import #{zen.fhir
          hl7-terminology-r4.value-set.codesystem-altcode-kind
          hl7-fhir-r4b-core.Coding
          hl7-fhir-r4b-core.code},
 schema {:zen.fhir/version "0.6.31",
         :zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/codesystem-alternate",
         :require #{:use :code},
         :type zen/map,
         :zen/desc "An additional code that may be used to represent the concept.",
         :keys {:code {:confirms #{hl7-fhir-r4b-core.code/schema},
                       :zen/desc "Code that represents the concept"},
                :use {:confirms #{hl7-fhir-r4b-core.Coding/schema},
                      :zen.fhir/value-set {:symbol hl7-terminology-r4.value-set.codesystem-altcode-kind/value-set,
                                           :strength :extensible},
                      :zen/desc "Expected use of the code"}}}}
