{ns hl7-fhir-r4b-core.DeviceRequest,
 import #{hl7-fhir-r4b-core.value-set.request-status
          hl7-fhir-r4b-core.Period
          hl7-fhir-r4b-core.Group
          hl7-fhir-r4b-core.DomainResource
          hl7-fhir-r4b-core.ClaimResponse
          zen.fhir
          hl7-fhir-r4b-core.boolean
          hl7-fhir-r4b-core.Identifier
          hl7-fhir-r4b-core.Condition
          hl7-fhir-r4b-core.Reference
          hl7-fhir-r4b-core.Patient
          hl7-fhir-r4b-core.Timing
          hl7-fhir-r4b-core.DocumentReference
          hl7-fhir-r4b-core.Location
          hl7-fhir-r4b-core.Range
          hl7-fhir-r4b-core.Encounter
          hl7-fhir-r4b-core.CareTeam
          hl7-fhir-r4b-core.value-set.condition-code
          hl7-fhir-r4b-core.Observation
          hl7-fhir-r4b-core.BackboneElement
          hl7-fhir-r4b-core.Practitioner
          hl7-fhir-r4b-core.Organization
          hl7-fhir-r4b-core.CodeableConcept
          hl7-fhir-r4b-core.value-set.device-kind
          hl7-fhir-r4b-core.HealthcareService
          hl7-fhir-r4b-core.Annotation
          hl7-fhir-r4b-core.uri
          hl7-fhir-r4b-core.Provenance
          hl7-fhir-r4b-core.canonical
          hl7-fhir-r4b-core.Device
          hl7-fhir-r4b-core.code
          hl7-fhir-r4b-core.DiagnosticReport
          hl7-fhir-r4b-core.dateTime
          hl7-fhir-r4b-core.Quantity
          hl7-fhir-r4b-core.value-set.request-intent
          hl7-fhir-r4b-core.PractitionerRole
          hl7-fhir-r4b-core.Element
          hl7-fhir-r4b-core.Coverage
          hl7-fhir-r4b-core.value-set.request-priority
          hl7-fhir-r4b-core.RelatedPerson},
 schema {:zen.fhir/version "0.6.29-4",
         :confirms #{zen.fhir/Resource
                     hl7-fhir-r4b-core.DomainResource/schema},
         :zen/tags #{zen/schema zen.fhir/base-schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/DeviceRequest",
         :require #{:code :intent :subject},
         :type zen/map,
         :zen/desc "Represents a request for a patient to employ a medical device. The device may be an implantable device, or an external assistive device, such as a walker.",
         :keys {:performerType {:confirms #{hl7-fhir-r4b-core.CodeableConcept/schema},
                                :fhir/flags #{:SU},
                                :zen/desc "Filler role"},
                :insurance {:type zen/vector,
                            :every {:confirms #{zen.fhir/Reference
                                                hl7-fhir-r4b-core.Reference/schema},
                                    :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.Coverage/schema
                                                                   hl7-fhir-r4b-core.ClaimResponse/schema}},
                                    :zen/desc "Associated insurance coverage"}},
                :instantiatesCanonical {:type zen/vector,
                                        :every {:confirms #{hl7-fhir-r4b-core.canonical/schema},
                                                :fhir/flags #{:SU},
                                                :zen/desc "Instantiates FHIR protocol or definition"}},
                :instantiatesUri {:type zen/vector,
                                  :every {:confirms #{hl7-fhir-r4b-core.uri/schema},
                                          :fhir/flags #{:SU},
                                          :zen/desc "Instantiates external protocol or definition"}},
                :relevantHistory {:type zen/vector,
                                  :every {:confirms #{zen.fhir/Reference
                                                      hl7-fhir-r4b-core.Reference/schema},
                                          :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.Provenance/schema}},
                                          :zen/desc "Request provenance"}},
                :_authoredOn {:confirms #{hl7-fhir-r4b-core.Element/schema}},
                :supportingInfo {:type zen/vector,
                                 :every {:confirms #{zen.fhir/Reference
                                                     hl7-fhir-r4b-core.Reference/schema},
                                         :zen.fhir/reference {:refers #{}},
                                         :zen/desc "Additional clinical information"}},
                :encounter {:confirms #{zen.fhir/Reference
                                        hl7-fhir-r4b-core.Reference/schema},
                            :fhir/flags #{:SU},
                            :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.Encounter/schema}},
                            :zen/desc "Encounter motivating request"},
                :priorRequest {:type zen/vector,
                               :every {:confirms #{zen.fhir/Reference
                                                   hl7-fhir-r4b-core.Reference/schema},
                                       :fhir/flags #{:SU},
                                       :zen.fhir/reference {:refers #{}},
                                       :zen/desc "What request replaces"}},
                :_priority {:confirms #{hl7-fhir-r4b-core.Element/schema}},
                :_status {:confirms #{hl7-fhir-r4b-core.Element/schema}},
                :reasonCode {:type zen/vector,
                             :every {:confirms #{hl7-fhir-r4b-core.CodeableConcept/schema},
                                     :fhir/flags #{:SU},
                                     :zen.fhir/value-set {:symbol hl7-fhir-r4b-core.value-set.condition-code/value-set,
                                                          :strength :example},
                                     :zen/desc "Coded Reason for request"}},
                :authoredOn {:confirms #{hl7-fhir-r4b-core.dateTime/schema},
                             :fhir/flags #{:SU},
                             :zen/desc "When recorded"},
                :note {:type zen/vector,
                       :every {:confirms #{hl7-fhir-r4b-core.Annotation/schema},
                               :zen/desc "Notes or comments"}},
                :_intent {:confirms #{hl7-fhir-r4b-core.Element/schema}},
                :requester {:confirms #{zen.fhir/Reference
                                        hl7-fhir-r4b-core.Reference/schema},
                            :fhir/flags #{:SU},
                            :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.PractitionerRole/schema
                                                           hl7-fhir-r4b-core.Organization/schema
                                                           hl7-fhir-r4b-core.Device/schema
                                                           hl7-fhir-r4b-core.Practitioner/schema}},
                            :zen/desc "Who/what is requesting diagnostics"},
                :priority {:confirms #{hl7-fhir-r4b-core.code/schema},
                           :fhir/flags #{:SU},
                           :zen.fhir/value-set {:symbol hl7-fhir-r4b-core.value-set.request-priority/value-set,
                                                :strength :required},
                           :zen/desc "routine | urgent | asap | stat"},
                :status {:confirms #{hl7-fhir-r4b-core.code/schema},
                         :fhir/flags #{:SU :?!},
                         :zen.fhir/value-set {:symbol hl7-fhir-r4b-core.value-set.request-status/value-set,
                                              :strength :required},
                         :zen/desc "draft | active | on-hold | revoked | completed | entered-in-error | unknown"},
                :groupIdentifier {:confirms #{hl7-fhir-r4b-core.Identifier/schema},
                                  :fhir/flags #{:SU},
                                  :zen/desc "Identifier of composite request"},
                :code {:fhir/polymorphic true,
                       :type zen/map,
                       :exclusive-keys #{#{:CodeableConcept
                                           :Reference}},
                       :keys {:Reference {:confirms #{zen.fhir/Reference
                                                      hl7-fhir-r4b-core.Reference/schema},
                                          :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.Device/schema}}},
                              :CodeableConcept {:confirms #{hl7-fhir-r4b-core.CodeableConcept/schema}}},
                       :fhir/flags #{:SU},
                       :zen.fhir/value-set {:symbol hl7-fhir-r4b-core.value-set.device-kind/value-set,
                                            :strength :example},
                       :zen/desc "Device requested"},
                :identifier {:type zen/vector,
                             :every {:confirms #{hl7-fhir-r4b-core.Identifier/schema},
                                     :fhir/flags #{:SU},
                                     :zen/desc "External Request identifier"}},
                :intent {:confirms #{hl7-fhir-r4b-core.code/schema},
                         :fhir/flags #{:SU :?!},
                         :zen.fhir/value-set {:symbol hl7-fhir-r4b-core.value-set.request-intent/value-set,
                                              :strength :required},
                         :zen/desc "proposal | plan | directive | order | original-order | reflex-order | filler-order | instance-order | option"},
                :basedOn {:type zen/vector,
                          :every {:confirms #{zen.fhir/Reference
                                              hl7-fhir-r4b-core.Reference/schema},
                                  :fhir/flags #{:SU},
                                  :zen.fhir/reference {:refers #{}},
                                  :zen/desc "What request fulfills"}},
                :_instantiatesCanonical {:type zen/vector,
                                         :every {:confirms #{hl7-fhir-r4b-core.Element/schema}}},
                :subject {:confirms #{zen.fhir/Reference
                                      hl7-fhir-r4b-core.Reference/schema},
                          :fhir/flags #{:SU},
                          :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.Group/schema
                                                         hl7-fhir-r4b-core.Patient/schema
                                                         hl7-fhir-r4b-core.Device/schema
                                                         hl7-fhir-r4b-core.Location/schema}},
                          :zen/desc "Focus of request"},
                :parameter {:type zen/vector,
                            :every {:confirms #{hl7-fhir-r4b-core.BackboneElement/schema},
                                    :type zen/map,
                                    :keys {:code {:confirms #{hl7-fhir-r4b-core.CodeableConcept/schema},
                                                  :zen/desc "Device detail"},
                                           :value {:fhir/polymorphic true,
                                                   :type zen/map,
                                                   :exclusive-keys #{#{:Range
                                                                       :CodeableConcept
                                                                       :Quantity
                                                                       :boolean}},
                                                   :keys {:CodeableConcept {:confirms #{hl7-fhir-r4b-core.CodeableConcept/schema}},
                                                          :Quantity {:confirms #{hl7-fhir-r4b-core.Quantity/schema}},
                                                          :Range {:confirms #{hl7-fhir-r4b-core.Range/schema}},
                                                          :boolean {:confirms #{hl7-fhir-r4b-core.boolean/schema}},
                                                          :_boolean {:confirms #{hl7-fhir-r4b-core.Element/schema}}},
                                                   :zen/desc "Value of detail"}},
                                    :zen/desc "Device details"}},
                :occurrence {:fhir/polymorphic true,
                             :type zen/map,
                             :exclusive-keys #{#{:dateTime
                                                 :Period
                                                 :Timing}},
                             :keys {:dateTime {:confirms #{hl7-fhir-r4b-core.dateTime/schema}},
                                    :_dateTime {:confirms #{hl7-fhir-r4b-core.Element/schema}},
                                    :Period {:confirms #{hl7-fhir-r4b-core.Period/schema}},
                                    :Timing {:confirms #{hl7-fhir-r4b-core.Timing/schema}}},
                             :fhir/flags #{:SU},
                             :zen/desc "Desired time or schedule for use"},
                :performer {:confirms #{zen.fhir/Reference
                                        hl7-fhir-r4b-core.Reference/schema},
                            :fhir/flags #{:SU},
                            :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.RelatedPerson/schema
                                                           hl7-fhir-r4b-core.CareTeam/schema
                                                           hl7-fhir-r4b-core.PractitionerRole/schema
                                                           hl7-fhir-r4b-core.Patient/schema
                                                           hl7-fhir-r4b-core.HealthcareService/schema
                                                           hl7-fhir-r4b-core.Organization/schema
                                                           hl7-fhir-r4b-core.Device/schema
                                                           hl7-fhir-r4b-core.Practitioner/schema}},
                            :zen/desc "Requested Filler"},
                :reasonReference {:type zen/vector,
                                  :every {:confirms #{zen.fhir/Reference
                                                      hl7-fhir-r4b-core.Reference/schema},
                                          :fhir/flags #{:SU},
                                          :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.Condition/schema
                                                                         hl7-fhir-r4b-core.Observation/schema
                                                                         hl7-fhir-r4b-core.DocumentReference/schema
                                                                         hl7-fhir-r4b-core.DiagnosticReport/schema}},
                                          :zen/desc "Linked Reason for request"}},
                :_instantiatesUri {:type zen/vector,
                                   :every {:confirms #{hl7-fhir-r4b-core.Element/schema}}}},
         :zen.fhir/type "DeviceRequest"}}
