{ns hl7-fhir-r4b-core.Distance,
 import #{zen.fhir
          hl7-fhir-r4b-core.value-set.distance-units
          hl7-fhir-r4b-core.Quantity},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Base StructureDefinition for Distance Type: A length - a value with a unit that is a physical distance.",
         :zen.fhir/type "Distance",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/Distance",
         :zen.fhir/version "0.6.30-12",
         :confirms #{hl7-fhir-r4b-core.Quantity/schema},
         :zen.fhir/value-set {:symbol hl7-fhir-r4b-core.value-set.distance-units/value-set,
                              :strength :extensible}}}
