{ns hl7-fhir-r4b-core.goal-relationship,
 import #{zen.fhir
          hl7-fhir-r4b-core.Reference
          hl7-fhir-r4b-core.CodeableConcept
          hl7-fhir-r4b-core.Goal},
 schema {:zen.fhir/version "0.6.27",
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/goal-relationship",
         :require #{:type :target},
         :type zen/map,
         :zen/desc "Establishes a relationship between this goal and other goals.",
         :keys {:type {:confirms #{hl7-fhir-r4b-core.CodeableConcept/schema},
                       :zen/desc "predecessor | successor | replacement | other"},
                :target {:confirms #{zen.fhir/Reference
                                     hl7-fhir-r4b-core.Reference/schema},
                         :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.Goal/schema}},
                         :zen/desc "Related goal"}}}}
