{ns hl7-fhir-r4b-core.goal-acceptance,
 import #{zen.fhir
          hl7-fhir-r4b-core.Reference
          hl7-fhir-r4b-core.Patient
          hl7-fhir-r4b-core.Practitioner
          hl7-fhir-r4b-core.CodeableConcept
          hl7-fhir-r4b-core.value-set.goal-priority
          hl7-fhir-r4b-core.code
          hl7-terminology-r4.value-set.goal-acceptance-status
          hl7-fhir-r4b-core.RelatedPerson},
 schema {:zen.fhir/version "0.6.30-3",
         :zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/goal-acceptance",
         :require #{:individual},
         :type zen/map,
         :zen/desc "Information about the acceptance and relative priority assigned to the goal by the patient, practitioners and other stake-holders.",
         :keys {:individual {:confirms #{zen.fhir/Reference
                                         hl7-fhir-r4b-core.Reference/schema},
                             :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.RelatedPerson/schema
                                                            hl7-fhir-r4b-core.Patient/schema
                                                            hl7-fhir-r4b-core.Practitioner/schema}},
                             :zen/desc "Individual whose acceptance is reflected"},
                :status {:confirms #{hl7-fhir-r4b-core.code/schema},
                         :zen.fhir/value-set {:symbol hl7-terminology-r4.value-set.goal-acceptance-status/value-set,
                                              :strength :required},
                         :zen/desc "agree | disagree | pending"},
                :priority {:confirms #{hl7-fhir-r4b-core.CodeableConcept/schema},
                           :zen.fhir/value-set {:symbol hl7-fhir-r4b-core.value-set.goal-priority/value-set,
                                                :strength :example},
                           :zen/desc "Priority of goal for individual"}}}}
