{ns hl7-fhir-r4b-core.hlaresult,
 import #{hl7-fhir-r4b-core.hla-genotyping-results-haploid
          zen.fhir
          hl7-fhir-r4b-core.hla-genotyping-results-method
          hl7-fhir-r4b-core.DiagnosticReport
          hl7-fhir-r4b-core.hla-genotyping-results-glstring
          hl7-fhir-r4b-core.hla-genotyping-results-allele-database},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "Describes how the HLA genotyping results",
         :zen.fhir/type "DiagnosticReport",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/hlaresult",
         :zen.fhir/version "0.6.29-4",
         :confirms #{zen.fhir/Resource
                     hl7-fhir-r4b-core.DiagnosticReport/schema},
         :type zen/map,
         :keys {:allele-database {:confirms #{hl7-fhir-r4b-core.hla-genotyping-results-allele-database/schema},
                                  :fhir/extensionUri "http://hl7.org/fhir/StructureDefinition/hla-genotyping-results-allele-database",
                                  :zen/desc "Allele Database"},
                :glstring {:confirms #{hl7-fhir-r4b-core.hla-genotyping-results-glstring/schema},
                           :fhir/extensionUri "http://hl7.org/fhir/StructureDefinition/hla-genotyping-results-glstring",
                           :zen/desc "Glstring"},
                :haploid {:type zen/vector,
                          :every {:confirms #{hl7-fhir-r4b-core.hla-genotyping-results-haploid/schema},
                                  :fhir/extensionUri "http://hl7.org/fhir/StructureDefinition/hla-genotyping-results-haploid",
                                  :zen/desc "Haploid"}},
                :method {:confirms #{hl7-fhir-r4b-core.hla-genotyping-results-method/schema},
                         :fhir/extensionUri "http://hl7.org/fhir/StructureDefinition/hla-genotyping-results-method",
                         :zen/desc "The platform, methodology and software applied at the time of the\rgenotyping"}}}}
