{ns hl7-fhir-r4b-core.InsurancePlan,
 import #{hl7-fhir-r4b-core.Period
          hl7-fhir-r4b-core.value-set.contactentity-type
          hl7-fhir-r4b-core.DomainResource
          zen.fhir
          hl7-fhir-r4b-core.Money
          hl7-fhir-r4b-core.Identifier
          hl7-fhir-r4b-core.Reference
          hl7-fhir-r4b-core.Location
          hl7-fhir-r4b-core.value-set.insuranceplan-type
          hl7-fhir-r4b-core.string
          hl7-fhir-r4b-core.BackboneElement
          hl7-fhir-r4b-core.positiveInt
          hl7-fhir-r4b-core.Organization
          hl7-fhir-r4b-core.CodeableConcept
          hl7-fhir-r4b-core.HumanName
          hl7-fhir-r4b-core.Address
          hl7-fhir-r4b-core.Endpoint
          hl7-fhir-r4b-core.code
          hl7-fhir-r4b-core.value-set.insuranceplan-applicability
          hl7-fhir-r4b-core.ContactPoint
          hl7-fhir-r4b-core.Quantity
          hl7-fhir-r4b-core.value-set.publication-status
          hl7-fhir-r4b-core.Element},
 schema {:zen/tags #{zen/schema zen.fhir/base-schema},
         :zen/desc "Details of a Health Insurance product/plan provided by an organization.",
         :zen.fhir/type "InsurancePlan",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/InsurancePlan",
         :zen.fhir/version "0.6.30-10",
         :confirms #{zen.fhir/Resource
                     hl7-fhir-r4b-core.DomainResource/schema},
         :type zen/map,
         :keys {:coverageArea {:type zen/vector,
                               :every {:confirms #{zen.fhir/Reference
                                                   hl7-fhir-r4b-core.Reference/schema},
                                       :fhir/flags #{:SU},
                                       :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.Location/schema}},
                                       :zen/desc "Where product applies"}},
                :name {:confirms #{hl7-fhir-r4b-core.string/schema},
                       :fhir/flags #{:SU},
                       :zen/desc "Official name"},
                :_status {:confirms #{hl7-fhir-r4b-core.Element/schema}},
                :coverage {:type zen/vector,
                           :every {:confirms #{hl7-fhir-r4b-core.BackboneElement/schema},
                                   :type zen/map,
                                   :keys {:type {:confirms #{hl7-fhir-r4b-core.CodeableConcept/schema},
                                                 :zen/desc "Type of coverage"},
                                          :network {:type zen/vector,
                                                    :every {:confirms #{zen.fhir/Reference
                                                                        hl7-fhir-r4b-core.Reference/schema},
                                                            :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.Organization/schema}},
                                                            :zen/desc "What networks provide coverage"}},
                                          :benefit {:type zen/vector,
                                                    :every {:confirms #{hl7-fhir-r4b-core.BackboneElement/schema},
                                                            :type zen/map,
                                                            :keys {:type {:confirms #{hl7-fhir-r4b-core.CodeableConcept/schema},
                                                                          :zen/desc "Type of benefit"},
                                                                   :requirement {:confirms #{hl7-fhir-r4b-core.string/schema},
                                                                                 :zen/desc "Referral requirements"},
                                                                   :_requirement {:confirms #{hl7-fhir-r4b-core.Element/schema}},
                                                                   :limit {:type zen/vector,
                                                                           :every {:confirms #{hl7-fhir-r4b-core.BackboneElement/schema},
                                                                                   :type zen/map,
                                                                                   :keys {:value {:confirms #{hl7-fhir-r4b-core.Quantity/schema},
                                                                                                  :zen/desc "Maximum value allowed"},
                                                                                          :code {:confirms #{hl7-fhir-r4b-core.CodeableConcept/schema},
                                                                                                 :zen/desc "Benefit limit details"}},
                                                                                   :zen/desc "Benefit limits"}}},
                                                            :require #{:type},
                                                            :zen/desc "List of benefits"},
                                                    :minItems 1}},
                                   :require #{:type :benefit},
                                   :zen/desc "Coverage details"}},
                :type {:type zen/vector,
                       :every {:confirms #{hl7-fhir-r4b-core.CodeableConcept/schema},
                               :fhir/flags #{:SU},
                               :zen.fhir/value-set {:symbol hl7-fhir-r4b-core.value-set.insuranceplan-type/value-set,
                                                    :strength :example},
                               :zen/desc "Kind of product"}},
                :alias {:type zen/vector,
                        :every {:confirms #{hl7-fhir-r4b-core.string/schema},
                                :zen/desc "Alternate names"}},
                :status {:confirms #{hl7-fhir-r4b-core.code/schema},
                         :fhir/flags #{:SU :?!},
                         :zen.fhir/value-set {:symbol hl7-fhir-r4b-core.value-set.publication-status/value-set,
                                              :strength :required},
                         :zen/desc "draft | active | retired | unknown"},
                :_name {:confirms #{hl7-fhir-r4b-core.Element/schema}},
                :identifier {:type zen/vector,
                             :every {:confirms #{hl7-fhir-r4b-core.Identifier/schema},
                                     :fhir/flags #{:SU},
                                     :zen/desc "Business Identifier for Product"}},
                :administeredBy {:confirms #{zen.fhir/Reference
                                             hl7-fhir-r4b-core.Reference/schema},
                                 :fhir/flags #{:SU},
                                 :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.Organization/schema}},
                                 :zen/desc "Product administrator"},
                :ownedBy {:confirms #{zen.fhir/Reference
                                      hl7-fhir-r4b-core.Reference/schema},
                          :fhir/flags #{:SU},
                          :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.Organization/schema}},
                          :zen/desc "Plan issuer"},
                :network {:type zen/vector,
                          :every {:confirms #{zen.fhir/Reference
                                              hl7-fhir-r4b-core.Reference/schema},
                                  :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.Organization/schema}},
                                  :zen/desc "What networks are Included"}},
                :period {:confirms #{hl7-fhir-r4b-core.Period/schema},
                         :zen/desc "When the product is available"},
                :_alias {:type zen/vector,
                         :every {:confirms #{hl7-fhir-r4b-core.Element/schema}}},
                :plan {:type zen/vector,
                       :every {:confirms #{hl7-fhir-r4b-core.BackboneElement/schema},
                               :type zen/map,
                               :keys {:identifier {:type zen/vector,
                                                   :every {:confirms #{hl7-fhir-r4b-core.Identifier/schema},
                                                           :fhir/flags #{:SU},
                                                           :zen/desc "Business Identifier for Product"}},
                                      :type {:confirms #{hl7-fhir-r4b-core.CodeableConcept/schema},
                                             :zen/desc "Type of plan"},
                                      :coverageArea {:type zen/vector,
                                                     :every {:confirms #{zen.fhir/Reference
                                                                         hl7-fhir-r4b-core.Reference/schema},
                                                             :fhir/flags #{:SU},
                                                             :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.Location/schema}},
                                                             :zen/desc "Where product applies"}},
                                      :network {:type zen/vector,
                                                :every {:confirms #{zen.fhir/Reference
                                                                    hl7-fhir-r4b-core.Reference/schema},
                                                        :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.Organization/schema}},
                                                        :zen/desc "What networks provide coverage"}},
                                      :generalCost {:type zen/vector,
                                                    :every {:confirms #{hl7-fhir-r4b-core.BackboneElement/schema},
                                                            :type zen/map,
                                                            :keys {:type {:confirms #{hl7-fhir-r4b-core.CodeableConcept/schema},
                                                                          :zen/desc "Type of cost"},
                                                                   :groupSize {:confirms #{hl7-fhir-r4b-core.positiveInt/schema},
                                                                               :zen/desc "Number of enrollees"},
                                                                   :_groupSize {:confirms #{hl7-fhir-r4b-core.Element/schema}},
                                                                   :cost {:confirms #{hl7-fhir-r4b-core.Money/schema},
                                                                          :zen/desc "Cost value"},
                                                                   :comment {:confirms #{hl7-fhir-r4b-core.string/schema},
                                                                             :zen/desc "Additional cost information"},
                                                                   :_comment {:confirms #{hl7-fhir-r4b-core.Element/schema}}},
                                                            :zen/desc "Overall costs"}},
                                      :specificCost {:type zen/vector,
                                                     :every {:confirms #{hl7-fhir-r4b-core.BackboneElement/schema},
                                                             :type zen/map,
                                                             :keys {:category {:confirms #{hl7-fhir-r4b-core.CodeableConcept/schema},
                                                                               :zen/desc "General category of benefit"},
                                                                    :benefit {:type zen/vector,
                                                                              :every {:confirms #{hl7-fhir-r4b-core.BackboneElement/schema},
                                                                                      :type zen/map,
                                                                                      :keys {:type {:confirms #{hl7-fhir-r4b-core.CodeableConcept/schema},
                                                                                                    :zen/desc "Type of specific benefit"},
                                                                                             :cost {:type zen/vector,
                                                                                                    :every {:confirms #{hl7-fhir-r4b-core.BackboneElement/schema},
                                                                                                            :type zen/map,
                                                                                                            :keys {:type {:confirms #{hl7-fhir-r4b-core.CodeableConcept/schema},
                                                                                                                          :zen/desc "Type of cost"},
                                                                                                                   :applicability {:confirms #{hl7-fhir-r4b-core.CodeableConcept/schema},
                                                                                                                                   :zen.fhir/value-set {:symbol hl7-fhir-r4b-core.value-set.insuranceplan-applicability/value-set,
                                                                                                                                                        :strength :required},
                                                                                                                                   :zen/desc "in-network | out-of-network | other"},
                                                                                                                   :qualifiers {:type zen/vector,
                                                                                                                                :every {:confirms #{hl7-fhir-r4b-core.CodeableConcept/schema},
                                                                                                                                        :zen/desc "Additional information about the cost"}},
                                                                                                                   :value {:confirms #{hl7-fhir-r4b-core.Quantity/schema},
                                                                                                                           :zen/desc "The actual cost value"}},
                                                                                                            :require #{:type},
                                                                                                            :zen/desc "List of the costs"}}},
                                                                                      :require #{:type},
                                                                                      :zen/desc "Benefits list"}}},
                                                             :require #{:category},
                                                             :zen/desc "Specific costs"}}},
                               :zen/desc "Plan details"}},
                :endpoint {:type zen/vector,
                           :every {:confirms #{zen.fhir/Reference
                                               hl7-fhir-r4b-core.Reference/schema},
                                   :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.Endpoint/schema}},
                                   :zen/desc "Technical endpoint"}},
                :contact {:type zen/vector,
                          :every {:confirms #{hl7-fhir-r4b-core.BackboneElement/schema},
                                  :type zen/map,
                                  :keys {:purpose {:confirms #{hl7-fhir-r4b-core.CodeableConcept/schema},
                                                   :zen.fhir/value-set {:symbol hl7-fhir-r4b-core.value-set.contactentity-type/value-set,
                                                                        :strength :extensible},
                                                   :zen/desc "The type of contact"},
                                         :name {:confirms #{hl7-fhir-r4b-core.HumanName/schema},
                                                :zen/desc "A name associated with the contact"},
                                         :telecom {:type zen/vector,
                                                   :every {:confirms #{hl7-fhir-r4b-core.ContactPoint/schema},
                                                           :zen/desc "Contact details (telephone, email, etc.)  for a contact"}},
                                         :address {:confirms #{hl7-fhir-r4b-core.Address/schema},
                                                   :zen/desc "Visiting or postal addresses for the contact"}},
                                  :zen/desc "Contact for the product"}}}}}
