{ns hl7-fhir-r4b-core.NutritionProduct,
 import #{hl7-fhir-r4b-core.DomainResource
          hl7-fhir-r4b-core.value-set.allergen-class
          zen.fhir
          hl7-fhir-r4b-core.boolean
          hl7-fhir-r4b-core.Identifier
          hl7-fhir-r4b-core.Reference
          hl7-fhir-r4b-core.value-set.measurement-property
          hl7-fhir-r4b-core.CodeableReference
          hl7-fhir-r4b-core.string
          hl7-fhir-r4b-core.BackboneElement
          hl7-fhir-r4b-core.Organization
          hl7-fhir-r4b-core.CodeableConcept
          hl7-fhir-r4b-core.Annotation
          hl7-fhir-r4b-core.Attachment
          hl7-fhir-r4b-core.value-set.nutritionproduct-status
          hl7-fhir-r4b-core.value-set.nutrition-product-category
          hl7-fhir-r4b-core.value-set.nutrition-product-nutrient
          hl7-fhir-r4b-core.SimpleQuantity
          hl7-fhir-r4b-core.code
          hl7-fhir-r4b-core.Ratio
          hl7-fhir-r4b-core.dateTime
          hl7-fhir-r4b-core.base64Binary
          hl7-fhir-r4b-core.Quantity
          hl7-fhir-r4b-core.Element},
 schema {:zen.fhir/version "0.6.22",
         :confirms #{zen.fhir/Resource
                     hl7-fhir-r4b-core.DomainResource/schema},
         :zen/tags #{zen/schema zen.fhir/base-schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/NutritionProduct",
         :require #{:status},
         :type zen/map,
         :zen/desc "A food or fluid product that is consumed by patients.",
         :keys {:category {:type zen/vector,
                           :every {:confirms #{hl7-fhir-r4b-core.CodeableConcept/schema},
                                   :fhir/flags #{:SU},
                                   :zen.fhir/value-set {:symbol hl7-fhir-r4b-core.value-set.nutrition-product-category/value-set,
                                                        :strength :example},
                                   :zen/desc "A category or class of the nutrition product (halal, kosher, gluten free, vegan, etc)"}},
                :instance {:confirms #{hl7-fhir-r4b-core.BackboneElement/schema},
                           :type zen/map,
                           :keys {:quantity {:confirms #{hl7-fhir-r4b-core.SimpleQuantity/schema
                                                         hl7-fhir-r4b-core.Quantity/schema},
                                             :zen/desc "The amount of items or instances"},
                                  :identifier {:type zen/vector,
                                               :every {:confirms #{hl7-fhir-r4b-core.Identifier/schema},
                                                       :zen/desc "The identifier for the physical instance, typically a serial number"}},
                                  :lotNumber {:confirms #{hl7-fhir-r4b-core.string/schema},
                                              :zen/desc "The identification of the batch or lot of the product"},
                                  :_lotNumber {:confirms #{hl7-fhir-r4b-core.Element/schema}},
                                  :expiry {:confirms #{hl7-fhir-r4b-core.dateTime/schema},
                                           :zen/desc "The expiry date or date and time for the product"},
                                  :_expiry {:confirms #{hl7-fhir-r4b-core.Element/schema}},
                                  :useBy {:confirms #{hl7-fhir-r4b-core.dateTime/schema},
                                          :zen/desc "The date until which the product is expected to be good for consumption"},
                                  :_useBy {:confirms #{hl7-fhir-r4b-core.Element/schema}}},
                           :zen/desc "One or several physical instances or occurrences of the nutrition product"},
                :nutrient {:type zen/vector,
                           :every {:confirms #{hl7-fhir-r4b-core.BackboneElement/schema},
                                   :type zen/map,
                                   :keys {:item {:confirms #{hl7-fhir-r4b-core.CodeableReference/schema},
                                                 :zen.fhir/value-set {:symbol hl7-fhir-r4b-core.value-set.nutrition-product-nutrient/value-set,
                                                                      :strength :example},
                                                 :zen/desc "The (relevant) nutrients in the product"},
                                          :amount {:type zen/vector,
                                                   :every {:confirms #{hl7-fhir-r4b-core.Ratio/schema},
                                                           :zen/desc "The amount of nutrient expressed in one or more units: X per pack / per serving / per dose"}}},
                                   :fhir/flags #{:SU},
                                   :zen/desc "The product's nutritional information expressed by the nutrients"}},
                :_status {:confirms #{hl7-fhir-r4b-core.Element/schema}},
                :note {:type zen/vector,
                       :every {:confirms #{hl7-fhir-r4b-core.Annotation/schema},
                               :zen/desc "Comments made about the product"}},
                :productCharacteristic {:type zen/vector,
                                        :every {:confirms #{hl7-fhir-r4b-core.BackboneElement/schema},
                                                :type zen/map,
                                                :keys {:type {:confirms #{hl7-fhir-r4b-core.CodeableConcept/schema},
                                                              :zen.fhir/value-set {:symbol hl7-fhir-r4b-core.value-set.measurement-property/value-set,
                                                                                   :strength :example},
                                                              :zen/desc "Code specifying the type of characteristic"},
                                                       :value {:fhir/polymorphic true,
                                                               :type zen/map,
                                                               :exclusive-keys #{#{:base64Binary
                                                                                   :string
                                                                                   :Attachment
                                                                                   :CodeableConcept
                                                                                   :Quantity
                                                                                   :boolean}},
                                                               :keys {:base64Binary {:confirms #{hl7-fhir-r4b-core.base64Binary/schema}},
                                                                      :string {:confirms #{hl7-fhir-r4b-core.string/schema}},
                                                                      :_boolean {:confirms #{hl7-fhir-r4b-core.Element/schema}},
                                                                      :Attachment {:confirms #{hl7-fhir-r4b-core.Attachment/schema}},
                                                                      :_base64Binary {:confirms #{hl7-fhir-r4b-core.Element/schema}},
                                                                      :CodeableConcept {:confirms #{hl7-fhir-r4b-core.CodeableConcept/schema}},
                                                                      :Quantity {:confirms #{hl7-fhir-r4b-core.Quantity/schema}},
                                                                      :boolean {:confirms #{hl7-fhir-r4b-core.boolean/schema}},
                                                                      :_string {:confirms #{hl7-fhir-r4b-core.Element/schema}}},
                                                               :zen/desc "The value of the characteristic"}},
                                                :require #{:value
                                                           :type},
                                                :zen/desc "Specifies descriptive properties of the nutrition product"}},
                :ingredient {:type zen/vector,
                             :every {:confirms #{hl7-fhir-r4b-core.BackboneElement/schema},
                                     :type zen/map,
                                     :keys {:item {:confirms #{hl7-fhir-r4b-core.CodeableReference/schema},
                                                   :fhir/flags #{:SU},
                                                   :zen/desc "The ingredient contained in the product"},
                                            :amount {:type zen/vector,
                                                     :every {:confirms #{hl7-fhir-r4b-core.Ratio/schema},
                                                             :fhir/flags #{:SU},
                                                             :zen/desc "The amount of ingredient that is in the product"}}},
                                     :require #{:item},
                                     :zen/desc "Ingredients contained in this product"}},
                :status {:confirms #{hl7-fhir-r4b-core.code/schema},
                         :fhir/flags #{:SU :?!},
                         :zen.fhir/value-set {:symbol hl7-fhir-r4b-core.value-set.nutritionproduct-status/value-set,
                                              :strength :required},
                         :zen/desc "active | inactive | entered-in-error"},
                :knownAllergen {:type zen/vector,
                                :every {:confirms #{hl7-fhir-r4b-core.CodeableReference/schema},
                                        :zen.fhir/value-set {:symbol hl7-fhir-r4b-core.value-set.allergen-class/value-set,
                                                             :strength :example},
                                        :zen/desc "Known or suspected allergens that are a part of this product"}},
                :code {:confirms #{hl7-fhir-r4b-core.CodeableConcept/schema},
                       :fhir/flags #{:SU},
                       :zen/desc "A code designating a specific type of nutritional product"},
                :manufacturer {:type zen/vector,
                               :every {:confirms #{zen.fhir/Reference
                                                   hl7-fhir-r4b-core.Reference/schema},
                                       :fhir/flags #{:SU},
                                       :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.Organization/schema}},
                                       :zen/desc "Manufacturer, representative or officially responsible for the product"}}},
         :zen.fhir/type "NutritionProduct"}}
