{ns hl7-fhir-r4b-core.observation-geneticsDNARegionName,
 import #{zen.fhir hl7-fhir-r4b-core.string},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "The material on this page will be removed in a future release. This content is deprecated and SHOULD NOT be used. Implementers are instead directed to the ([Genomics Reporting Implementation Guide](http://hl7.org/fhir/uv/genomics-reporting/index.html)) for guidance. A region (or regions) that includes all of the sequence elements necessary to encode a functional transcript. A gene may include regulatory regions, transcribed regions and/or other functional sequence regions ([SO:0000704](http://www.sequenceontology.org/browser/current_svn/term/SO:0000704)). This element is the official gene symbol approved by the HGNC, which is a short abbreviated form of the gene name ([HGNC](http://www.genenames.org)). LOINC Code: ([48018-6](http://loinc.org/48018-6)).",
         :zen.fhir/type "string",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/observation-geneticsDNARegionName",
         :zen.fhir/version "0.6.27",
         :confirms #{hl7-fhir-r4b-core.string/schema}}}
