{ns hl7-fhir-r4b-core.observation-reagent,
 import #{zen.fhir hl7-fhir-r4b-core.Substance},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Reference to reagents used to generate this observation.  This is intended for this for in-lab transactions between instruments and Laboratory Information Systems (LIS).",
         :zen.fhir/type "Reference",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/observation-reagent",
         :zen.fhir/version "0.6.42",
         :confirms #{zen.fhir/Reference},
         :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.Substance/schema}}}}
