{ns hl7-fhir-r4b-core.observation-geneticsGenomicSourceClass,
 import #{zen.fhir hl7-fhir-r4b-core.CodeableConcept},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "The material on this page will be removed in a future release. This content is deprecated and SHOULD NOT be used. Implementers are instead directed to the ([Genomics Reporting Implementation Guide](http://hl7.org/fhir/uv/genomics-reporting/index.html)) for guidance. Source of sample used to determine the sequence in sequencing lab -- germline, somatic, prenatal. LOINC Code: ([48002-0](http://loinc.org/48002-0)).",
         :zen.fhir/type "CodeableConcept",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/observation-geneticsGenomicSourceClass",
         :zen.fhir/version "0.6.24",
         :confirms #{hl7-fhir-r4b-core.CodeableConcept/schema}}}
