{ns hl7-fhir-r4b-core.observation-geneticsInterpretation,
 import #{zen.fhir hl7-fhir-r4b-core.Observation},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "The material on this page will be removed in a future release. This content is deprecated and SHOULD NOT be used. Implementers are instead directed to the ([Genomics Reporting Implementation Guide](http://hl7.org/fhir/uv/genomics-reporting/index.html)) for guidance. Clinical Interpretations for variant. It's a reference to an Observation resource.",
         :zen.fhir/type "Reference",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/observation-geneticsInterpretation",
         :zen.fhir/version "0.6.29",
         :confirms #{zen.fhir/Reference},
         :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.Observation/schema}}}}
