{ns hl7-fhir-r4b-core.patient-proficiency,
 import #{zen.fhir hl7-fhir-r4b-core.Coding},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Proficiency level of the communication.",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/patient-proficiency",
         :zen.fhir/version "0.6.20-2",
         :type zen/map,
         :keys {:level {:confirms #{hl7-fhir-r4b-core.Coding/schema},
                        :zen/desc "The proficiency level of the communication"},
                :type {:type zen/vector,
                       :every {:confirms #{hl7-fhir-r4b-core.Coding/schema},
                               :zen/desc "The proficiency type of the communication"}}}}}
