{ns hl7-fhir-r4b-core.PractitionerRole,
 import #{hl7-fhir-r4b-core.value-set.c80-practice-codes
          hl7-fhir-r4b-core.Period
          hl7-fhir-r4b-core.DomainResource
          zen.fhir
          hl7-fhir-r4b-core.boolean
          hl7-fhir-r4b-core.Identifier
          hl7-fhir-r4b-core.Reference
          hl7-fhir-r4b-core.Location
          hl7-fhir-r4b-core.string
          hl7-fhir-r4b-core.BackboneElement
          hl7-fhir-r4b-core.Practitioner
          hl7-fhir-r4b-core.Organization
          hl7-fhir-r4b-core.CodeableConcept
          hl7-fhir-r4b-core.HealthcareService
          hl7-fhir-r4b-core.Endpoint
          hl7-fhir-r4b-core.code
          hl7-fhir-r4b-core.value-set.days-of-week
          hl7-fhir-r4b-core.ContactPoint
          hl7-fhir-r4b-core.Element
          hl7-fhir-r4b-core.time},
 schema {:zen/tags #{zen/schema zen.fhir/base-schema},
         :zen/desc "A specific set of Roles/Locations/specialties/services that a practitioner may perform at an organization for a period of time.",
         :zen.fhir/type "PractitionerRole",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/PractitionerRole",
         :zen.fhir/version "0.6.21-2",
         :confirms #{zen.fhir/Resource
                     hl7-fhir-r4b-core.DomainResource/schema},
         :type zen/map,
         :keys {:_active {:confirms #{hl7-fhir-r4b-core.Element/schema}},
                :availableTime {:type zen/vector,
                                :every {:confirms #{hl7-fhir-r4b-core.BackboneElement/schema},
                                        :type zen/map,
                                        :keys {:daysOfWeek {:type zen/vector,
                                                            :every {:confirms #{hl7-fhir-r4b-core.code/schema},
                                                                    :zen.fhir/value-set {:symbol hl7-fhir-r4b-core.value-set.days-of-week/value-set,
                                                                                         :strength :required},
                                                                    :zen/desc "mon | tue | wed | thu | fri | sat | sun"}},
                                               :_daysOfWeek {:type zen/vector,
                                                             :every {:confirms #{hl7-fhir-r4b-core.Element/schema}}},
                                               :allDay {:confirms #{hl7-fhir-r4b-core.boolean/schema},
                                                        :zen/desc "Always available? e.g. 24 hour service"},
                                               :_allDay {:confirms #{hl7-fhir-r4b-core.Element/schema}},
                                               :availableStartTime {:confirms #{hl7-fhir-r4b-core.time/schema},
                                                                    :zen/desc "Opening time of day (ignored if allDay = true)"},
                                               :_availableStartTime {:confirms #{hl7-fhir-r4b-core.Element/schema}},
                                               :availableEndTime {:confirms #{hl7-fhir-r4b-core.time/schema},
                                                                  :zen/desc "Closing time of day (ignored if allDay = true)"},
                                               :_availableEndTime {:confirms #{hl7-fhir-r4b-core.Element/schema}}},
                                        :zen/desc "Times the Service Site is available"}},
                :specialty {:type zen/vector,
                            :every {:confirms #{hl7-fhir-r4b-core.CodeableConcept/schema},
                                    :fhir/flags #{:SU},
                                    :zen.fhir/value-set {:symbol hl7-fhir-r4b-core.value-set.c80-practice-codes/value-set,
                                                         :strength :preferred},
                                    :zen/desc "Specific specialty of the practitioner"}},
                :notAvailable {:type zen/vector,
                               :every {:confirms #{hl7-fhir-r4b-core.BackboneElement/schema},
                                       :type zen/map,
                                       :keys {:description {:confirms #{hl7-fhir-r4b-core.string/schema},
                                                            :zen/desc "Reason presented to the user explaining why time not available"},
                                              :_description {:confirms #{hl7-fhir-r4b-core.Element/schema}},
                                              :during {:confirms #{hl7-fhir-r4b-core.Period/schema},
                                                       :zen/desc "Service not available from this date"}},
                                       :require #{:description},
                                       :zen/desc "Not available during this time due to provided reason"}},
                :organization {:confirms #{zen.fhir/Reference
                                           hl7-fhir-r4b-core.Reference/schema},
                               :fhir/flags #{:SU},
                               :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.Organization/schema}},
                               :zen/desc "Organization where the roles are available"},
                :active {:confirms #{hl7-fhir-r4b-core.boolean/schema},
                         :fhir/flags #{:SU},
                         :zen/desc "Whether this practitioner role record is in active use"},
                :_availabilityExceptions {:confirms #{hl7-fhir-r4b-core.Element/schema}},
                :code {:type zen/vector,
                       :every {:confirms #{hl7-fhir-r4b-core.CodeableConcept/schema},
                               :fhir/flags #{:SU},
                               :zen/desc "Roles which this practitioner may perform"}},
                :identifier {:type zen/vector,
                             :every {:confirms #{hl7-fhir-r4b-core.Identifier/schema},
                                     :fhir/flags #{:SU},
                                     :zen/desc "Business Identifiers that are specific to a role/location"}},
                :availabilityExceptions {:confirms #{hl7-fhir-r4b-core.string/schema},
                                         :zen/desc "Description of availability exceptions"},
                :practitioner {:confirms #{zen.fhir/Reference
                                           hl7-fhir-r4b-core.Reference/schema},
                               :fhir/flags #{:SU},
                               :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.Practitioner/schema}},
                               :zen/desc "Practitioner that is able to provide the defined services for the organization"},
                :telecom {:type zen/vector,
                          :every {:confirms #{hl7-fhir-r4b-core.ContactPoint/schema},
                                  :fhir/flags #{:SU},
                                  :zen/desc "Contact details that are specific to the role/location/service"}},
                :period {:confirms #{hl7-fhir-r4b-core.Period/schema},
                         :fhir/flags #{:SU},
                         :zen/desc "The period during which the practitioner is authorized to perform in these role(s)"},
                :location {:type zen/vector,
                           :every {:confirms #{zen.fhir/Reference
                                               hl7-fhir-r4b-core.Reference/schema},
                                   :fhir/flags #{:SU},
                                   :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.Location/schema}},
                                   :zen/desc "The location(s) at which this practitioner provides care"}},
                :endpoint {:type zen/vector,
                           :every {:confirms #{zen.fhir/Reference
                                               hl7-fhir-r4b-core.Reference/schema},
                                   :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.Endpoint/schema}},
                                   :zen/desc "Technical endpoints providing access to services operated for the practitioner with this role"}},
                :healthcareService {:type zen/vector,
                                    :every {:confirms #{zen.fhir/Reference
                                                        hl7-fhir-r4b-core.Reference/schema},
                                            :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.HealthcareService/schema}},
                                            :zen/desc "The list of healthcare services that this worker provides for this role's Organization/Location(s)"}}}}}
