{ns hl7-fhir-r4b-core.questionnaire-usageMode,
 import #{zen.fhir hl7-fhir-r4b-core.code},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Identifies that the specified element should only appear in certain \"modes\" of operation.",
         :zen.fhir/type "code",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/questionnaire-usageMode",
         :zen.fhir/version "0.6.29-22",
         :confirms #{hl7-fhir-r4b-core.code/schema}}}
