{ns hl7-fhir-r4b-core.questionnaire-choiceOrientation,
 import #{zen.fhir hl7-fhir-r4b-core.code},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Identifies the desired orientation when rendering a list of choices (typically radio-box or check-box lists).",
         :zen.fhir/type "code",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/questionnaire-choiceOrientation",
         :zen.fhir/version "0.6.27",
         :confirms #{hl7-fhir-r4b-core.code/schema}}}
