{ns hl7-fhir-r4b-core.structuredefinition-applicable-version,
 import #{zen.fhir
          hl7-fhir-r4b-core.value-set.FHIR-version
          hl7-fhir-r4b-core.code},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "An additional version that this profile apples to, other than the version explicitly stated in StructureDefinition.fhirVersion.",
         :zen.fhir/type "code",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/structuredefinition-applicable-version",
         :zen.fhir/version "0.6.27",
         :confirms #{hl7-fhir-r4b-core.code/schema},
         :zen.fhir/value-set {:symbol hl7-fhir-r4b-core.value-set.FHIR-version/value-set,
                              :strength :required}}}
