{ns hl7-fhir-r4b-core.structuredefinition-standards-status,
 import #{zen.fhir
          hl7-fhir-r4b-core.code
          hl7-fhir-r4b-core.value-set.standards-status},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "The Current HL7 ballot/Standards status of this artifact.",
         :zen.fhir/type "code",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status",
         :zen.fhir/version "0.6.27",
         :confirms #{hl7-fhir-r4b-core.code/schema},
         :zen.fhir/value-set {:symbol hl7-fhir-r4b-core.value-set.standards-status/value-set,
                              :strength :required}}}
