{ns hl7-fhir-r4b-core.structuredefinition-fhir-type,
 import #{zen.fhir hl7-fhir-r4b-core.url},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "The formal FHIR type of a property - used for the value property of a primitive type (for which there is no type in the FHIR typing system), and Element.id and Extension.url.",
         :zen.fhir/type "url",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/structuredefinition-fhir-type",
         :zen.fhir/version "0.6.30-10",
         :confirms #{hl7-fhir-r4b-core.url/schema}}}
