{ns hl7-fhir-r4b-core.structuredefinition-dependencies,
 import #{zen.fhir hl7-fhir-r4b-core.canonical},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Instances can only be valid against this StructureDefinition, if they also sucessfully validate against the dependent profile identified in this extension.",
         :zen.fhir/type "canonical",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/structuredefinition-dependencies",
         :zen.fhir/version "0.6.30-10",
         :confirms #{hl7-fhir-r4b-core.canonical/schema}}}
