{ns hl7-fhir-r4b-core.structuredefinition-wg,
 import #{zen.fhir hl7-fhir-r4b-core.code},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "The work group that owns and maintains this resource.",
         :zen.fhir/type "code",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/structuredefinition-wg",
         :zen.fhir/version "0.6.21-2",
         :confirms #{hl7-fhir-r4b-core.code/schema}}}
