{ns hl7-fhir-r4b-core.task-candidateList,
 import #{zen.fhir
          hl7-fhir-r4b-core.Patient
          hl7-fhir-r4b-core.Practitioner
          hl7-fhir-r4b-core.Organization
          hl7-fhir-r4b-core.Device
          hl7-fhir-r4b-core.RelatedPerson},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Identifies the individuals who are candidates for being the owner of the task.",
         :zen.fhir/type "Reference",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/task-candidateList",
         :zen.fhir/version "0.6.25-1",
         :confirms #{zen.fhir/Reference},
         :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.RelatedPerson/schema
                                        hl7-fhir-r4b-core.Patient/schema
                                        hl7-fhir-r4b-core.Organization/schema
                                        hl7-fhir-r4b-core.Device/schema
                                        hl7-fhir-r4b-core.Practitioner/schema}}}}
