{ns hl7-fhir-r4b-core.valueset-expand-rules,
 import #{zen.fhir hl7-fhir-r4b-core.code},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Defines how concepts are processed into the expansion when it's for UI presentation.",
         :zen.fhir/type "code",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/valueset-expand-rules",
         :zen.fhir/version "0.6.24",
         :confirms #{hl7-fhir-r4b-core.code/schema}}}
