{ns hl7-fhir-r4b-core.workflow-reasonReference,
 import #{zen.fhir
          hl7-fhir-r4b-core.Condition
          hl7-fhir-r4b-core.DocumentReference
          hl7-fhir-r4b-core.Observation
          hl7-fhir-r4b-core.DiagnosticReport
          hl7-fhir-r4b-core.Media},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Indicates another resource whose existence justifies this event.",
         :zen.fhir/type "Reference",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/workflow-reasonReference",
         :zen.fhir/version "0.6.22-2",
         :confirms #{zen.fhir/Reference},
         :zen.fhir/reference {:refers #{hl7-fhir-r4b-core.Condition/schema
                                        hl7-fhir-r4b-core.Media/schema
                                        hl7-fhir-r4b-core.Observation/schema
                                        hl7-fhir-r4b-core.DocumentReference/schema
                                        hl7-fhir-r4b-core.DiagnosticReport/schema}}}}
